@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.86);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
}

h2 {
  margin-top: 30px;
  justify-self: center;
  align-self: center;
}

h3{
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 700px;
  background-color: rgba(181, 234, 183, 0.911);
  padding: 50px;
  border-radius: 50px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex-wrap: wrap;
}

.api-credit {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.current-weather-item, .tmo-weather-item {
  margin: 10px 0px 0px 0px;
  font-weight: 600;
}

span {
  font-weight: 400;
}

.loading {
  margin: 10px 0px 0px 0px;
  color: red;
}

form {
  display: flex;
  justify-content: center;
}

input {
  padding: 5px 5px 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(251, 239, 220);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.218);
  
}

#temp-btn {
  margin-left: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: rgb(240, 179, 65);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.159);
}

#search-btn {
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.159);
  font-size: 1.2rem;
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
}

.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

#hour-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-24hour {
  display: flex;
  flex-wrap: wrap;
}

#current-24hour > div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.tomorrow-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}